@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-image: url("/extensao/fundo\ 2.png");
}

body h2 {
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CCC;
    color: white;
}

.finish {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    gap: 10px;
    padding: 10px;
}

.finish button {
    text-align: center;
}


.score-input-container {
    margin-top: 20px;
    padding: 20px;
    border: none; 
    background-color: transparent; 
    width: 100%;
    max-width: 400px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.score-input-container h3 {
    color: #333;
    margin-bottom: 10px;
}

.percentage-display {
    font-size: 1.1em;
    font-weight: bold;
    color: black; 
    margin-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

.score-input-container label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

#player-name {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.save-button {
    padding: 12px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 10px; 
}

.save-button:hover {
    background-color: #0056b3;
}

.restart-button {
    padding: 12px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
}

.restart-button:hover {
    background-color: #0056b3;
}